.item{
display: flex;
align-items: center;
margin-bottom: 5px;
padding: 5px;

background-color: #fff;
font-size: 24px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.onlineStatus{
display: block;
width: 20px;
height: 20px;
margin-right: 10px;
border-radius: 50%;
}

.online{
composes: onlineStatus;

background-color: green;
}

.offline{
composes: onlineStatus;

background-color: red;
}

.avatar{
    margin-right: 10px;
}